header{
    section{
        div{
            h1{
                font-family: 'Rubik Gemstones', cursive;
                font-size: 40px;
                font-style: italic;
                text-align: center;
            }
            img{
                width: 90px;
                height: 80px;
            }
        }
    }
}
.redes{
    div{
        a{
            img{
                height: 40px;
                width: 40px;
            }
        }
    }
    a{
        img{
            height: 40px;
            width: 40px;
        }
    }
}
.headerh1{
    a{
        color: black;
        text-decoration: none;
        list-style: none;
    }
}
